.Post {
  &__content {
    padding: 10rem 0;
    padding-top: 6rem;
  }

  .PostComment {
    margin-top: 6rem;
  }

  .CommentList {
    margin-top: 3.2rem;
  }
}

@import 'src/styles/page/post/PostInfo.scss';
@import 'src/styles/page/post/PostNavigation.scss';
@import 'src/styles/page/post/PostComment.scss';
@import 'src/styles/page/post/CommentList.scss';
@import 'src/styles/page/post/PostWrite.scss';