$white: #fff;

// PARAM color
$text_01: #ddd;
$text_02: #888;
$text_03: #666;
$text_04: #333;
$text_05: #222;

// PARAM border
$border_01: #eee;
$border_02: #dedede;

$purple_01: #7774FF;

$red_01: #F03232;

$red_bg_01: #FFE1E1;

// PARAM dark mode
$dark_bg_01: #222;

$dark_text_01: #aaa;
$dark_text_02: #ccc;
$dark_text_03: #ddd;
$dark_text_04: #eee;
$dark_text_05: #fff;

$dark_border_01: #444;
$dark_border_02: #333;