@charset "utf-8";

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 300;
  src: url('../../../src/assets/fonts/Pretendard-Light.otf') format("opentype");
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  src: url('../../../src/assets/fonts/Pretendard-Regular.otf') format("opentype");
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  src: url('../../../src/assets/fonts/Pretendard-Medium.otf') format("opentype");
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  src: url('../../../src/assets/fonts/Pretendard-SemiBold.otf') format("opentype");
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  src: url('../../../src/assets/fonts/Pretendard-Bold.otf') format("opentype");
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 900;
  src: url('../../../src/assets/fonts/Pretendard-ExtraBold.otf') format("opentype");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../../../src/assets/fonts/Poppins-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../../../src/assets/fonts/Poppins-Medium.ttf') format("truetype");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../../../src/assets/fonts/Poppins-Bold.ttf') format("truetype");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../../../src/assets/fonts/Poppins-ExtraBold.ttf') format("truetype");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../../../src/assets/fonts/Poppins-Black.ttf') format("truetype");
}

// PARAM spacing
$text_spacing: -0.02em;

// PARAM font weight
$bold_weight: 700;
$semibold_weight: 600;
$medium_weight: 500;
$regular_weight: 400;