// PARAM 레이아웃 관련 변수
$inner-width: 120rem;
$header-height: 10rem;
$footer-height: 12.4rem;

// PARAM screen size
$laptop: 1024px;
$tablet: 768px;
$mobile: 480px;

// PARAM darkmode
$transition-dark: 0.2s;