.Button {
  @include subtitle2_bold;
  @include flex(center, center);
  min-width: 12rem;
  height: 4rem;
  border-radius: 12rem;
  background: $text_04;
  cursor: pointer;
  color: $white;

  &--round {
    @extend .Button;
    border-radius: 100%;
    min-width: 4rem;
  }

  &--square {
    @extend .Button;
    height: 5rem;
    border-radius: 0.4rem;
    padding: 0 2.4rem;
  }
}