.Profile {
  @include flex(flex-start, stretch, 3.4rem);
  transition: gap 0.3s;

  @media (max-width: $tablet) {
    flex-direction: column;
    gap: 0.8rem;
  }

  @media (max-width: $tablet) {
    align-items: center;
  }

  &__img {
    position: relative;
    width: 20rem;
    height: 20rem;
    border-radius: 3.2rem;
    overflow: hidden;

    @media (max-width: $laptop) {
      flex-shrink: 0;
    }

    @media (max-width: $tablet) {
      width: 12.8rem;
      height: 12.8rem;
      border-radius: 1.6rem;
    }

  }

  &__name {
    @include h1_bold;
    color: $text_05;
    font-size: 4rem;
    transition: font-size 0.3s, color $transition-dark;

    @media (max-width: $laptop) {
      @include h1_bold;
    }

    @media (max-width: $tablet) {
      @include h2_bold;
    }

    &-container {
      @include flex(flex-start, center, 1.2rem);
      transition: gap 0.3s;

      @media (max-width: $tablet) {
        gap: 0.8rem;
        flex-direction: column;
      }
    }
  }

  &__info {
    &-container {
      display: flex;
      flex-direction: column;
      padding: 1.6rem 0 3.2rem 0;

      @media (max-width: $tablet) {
        align-items: center;
        text-align: center;
      }

    }
  }

  &__id {
    @include subtitle2_medium;
    @include poppins;
    color: $text_03;
    transition: font-size 0.3s, color $transition-dark;

    @media (max-width: $laptop) {
      @include body_medium;
    }
  }

  &__introduce {
    @include subtitle1_regular;
    color: $text_02;
    margin-top: 1.6rem;
    flex-grow: 1;
    line-height: 1.5;
    word-break: keep-all;
    transition: font-size 0.3s, margin 0.3s, color $transition-dark;

    @media (max-width: $laptop) {
      @include subtitle2_regular;
    }

    @media (max-width: $tablet) {
      margin-top: 1.2rem;
    }
  }

  &__social {
    @include flex(flex-start, stretch, 2.4rem);

    @media (max-width: $tablet) {
      margin-top: 2.4rem;
      gap: 1.6rem;
    }

    path {
      transition: fill $transition-dark;
    }

    &-item {
      a {
        @include flex(center, center);
        width: 100%;
        height: 100%;
      }

      svg {
        width: 2.4rem;
      }
    }
  }
}

.dark {
  .Profile {
    &__name {
      color: $dark_text_05;
    }

    &__id {
      color: $dark_text_02;
    }

    &__introduce {
      color: $dark_text_01;
    }

    &__social {
      path {
        fill: $dark_text_03;
      }
    }
  }
}