.Skeleton {
  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }

  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  background: $border_02;
  transition: $transition-dark;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg,
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.2) 20%,
        rgba(255, 255, 255, 0.4) 60%,
        rgba(255, 255, 255, 0));
    animation: shimmer 3s infinite;
  }
}

.dark {
  .Skeleton {
    background: $dark_border_02;

    &::after {
      background-image: linear-gradient(90deg,
          rgba(255, 255, 255, 0) 0,
          rgba(255, 255, 255, 0.02) 20%,
          rgba(255, 255, 255, 0.06) 60%,
          rgba(255, 255, 255, 0));
    }
  }
}